<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Thay Đổi Thông Tin Người Dùng</title>
</head>
<body>
    <h1>Thay Đổi Thông Tin Người Dùng</h1>
    <form th:action="@{/update-user}" method="post">
        <label for="fullName">Họ và Tên:</label>
        <input type="text" id="fullName" name="fullName" th:value="${session.userLogin.fullName}" required><br><br>
        
        <label for="gender">Giới Tính:</label>
        <input type="text" id="gender" name="gender" th:value="${session.userLogin.gender}" required><br><br>
        
        <label for="address">Địa Chỉ:</label>
        <input type="text" id="address" name="address" th:value="${session.userLogin.address}" required><br><br>
        
        <label for="dateOfBirth">Ngày Sinh:</label>
        <input type="date" id="dateOfBirth" name="dateOfBirth" th:value="${session.userLogin.dateOfBirth}" required><br><br>
        
        <label for="telephone">Số Điện Thoại:</label>
        <input type="tel" id="telephone" name="telephone" th:value="${session.userLogin.telephone}" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" th:value="${session.userLogin.email}" required><br><br>
        
        <button type="submit">Lưu Thay Đổi</button>
        
        <h3 th:if="${error}" style="color: red;" th:text="${error}"></h3>
        <h2><a th:href="@{/home}">Home</a></li>
    </form>
</body>
</html>
