<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- Sử dụng Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center">Register</h2>
            <!-- Hiển thị thông báo lỗi nếu có -->
            <p th:if="${error}" class="text-danger" th:text="${error}"></p>
            <form th:action="@{/register}" th:object="${user}" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="username">Username:</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>

                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>

                        <div class="form-group">
                            <label for="repassword">Nhập lại Password:</label>
                            <input type="password" class="form-control" id="repassword" name="repassword">
                        </div>
                        
                        <div class="form-group">
                            <label for="full_name">Họ và Tên:</label>
                            <input type="text" class="form-control" id="full_name" name="full_name">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="address">Địa chỉ:</label>
                            <input type="text" class="form-control" id="address" name="address">
                        </div>

                        <div class="form-group">
                            <label for="date_of_birth">Ngày sinh:</label>
                            <input type="date" class="form-control" id="date_of_birth" name="date_of_birth">
                        </div>

                        <div class="form-group">
                            <label for="gender">Giới tính:</label>
                            <select class="form-control" id="gender" name="gender" required>
                                <option value="">Lựa chọn</option>
                                <option value="Nam">Nam</option>
                                <option value="Nữ">Nữ</option>
                                <option value="Khác">Khác</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="email">Email:</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>

                        

                        <div class="form-group">
                            <label for="telephone">Số điện thoại:</label>
                            <input type="text" class="form-control" id="telephone" name="telephone">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Đăng ký</button>
            </form>
        </div>
    </div>
</div>

<!-- Sử dụng Bootstrap JS và jQuery (nếu cần) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
